.header-inner{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0 1px #eee;
}
.header-logo{
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 28px 28px 0px 28px; //move site logo lower to align middle with the menu
    box-shadow: -1px 0 #eee inset;
    img {
        width: auto;
        height: 80px !important; 
    }
}
.header-main{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    box-shadow: -1px 0 #eee;
}
.header-top{
    text-align: right;
    position: relative;
    * {
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
    .header-right {
        * {
            display: inline-block;
            vertical-align: top;
        }
    }
    .top-bar-menu {
        margin: 0;
        li {
            margin: 0;
            a {
                display: block;
                font-size: 13px;
                line-height: 30px;
                padding: 10px 18px;
                color: #fff;
                font-weight: 400;
            }
            a:not(:hover) {
                opacity: 0.5;
            }
        }
    }
    .header-right {
        * {
            a {
                display: block;
                font-size: 13px;
                line-height: 30px;
                padding: 10px 18px;
                color: #fff;
                font-weight: 400;
            }
            a:not(:hover){
                opacity: 0.5;
            }
        }
    }
}
.header-bot {
    text-align: right;
    font-size: 0;
    line-height: 0;
    * {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        line-height: 30px;
        text-align: left;
    }
    .box-header-nav {
        text-align: right;
        .main-menu {
            padding: 0 15px;
            font-size: 0;
            line-height: 0;
            .menu-item {
                font-size: 14px;
                line-height: 30px;
                a {
                    display: inline-block;
                    vertical-align: top;
                    padding: 35px 30px;
                    font-size: 13px; 
                    line-height: 30px;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 0.17em;
                    color: $theme_red; 
                    text-decoration: none;
                }
                .label-image {
                    bottom: calc(50% + 5px);
                    left: 50%;
                }
            }
            .menu-item:not(:last-child)::after {
                display: inline-block;
                vertical-align: top;
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                opacity: 0.3;
                margin: 47px 0 48px;
                background-color: $theme_red;
            }
        }
    }
}
.block-search {
    .woo-search-link {
        display: inline-block;
        vertical-align: middle;
        width: 120px;
        font-size: 30px;
        line-height: 30px;
        padding: 35px 0;
        text-align: center;
        border-left: 1px solid #eee;
        text-decoration: none;
        span {
            color: $theme_red;
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
            margin-top: -2px;
        }
    }
}


.sub-menu {
    display: none; 
    background: #fff;
    border: 1px solid #eee;
    padding: 20px 15px !important;
    position: absolute; 
    margin-left: 0;
    margin-top: -15px;
    z-index: 3; 
    li {
        display: block;
        a {
            color: $theme_grey !important; 
            line-height: 1 !important;
            padding: 5px !important;
            text-transform: capitalize !important;
            transition: all 0.15s linear; 
        }
        a:hover {
            color: $theme_red;
        }
    }
    li::after {
        display: none !important; 
    }
}

.mobile-block {display: none}

@media (max-width: 1260px) { //Reduce margins between the headings

}

@media (max-width: 1024px) { //Show the menu bar

}

@media (min-width: 768px){
    .header-top {
        .top-bar-menu {
            .sub-menu{
                left: auto;
                right: 0;
            }
        }
    }    
}

@media (max-width: 767px) {
    .header-top {
        .block-userlink {
            .sub-menu {
                top: calc(100% + 5px);
            }
        }
    }
}