//Woo notices 

.woocommerce-store-notice {
    background-color: $theme_red !important; 
}

.product-category {
    display: block !important; 
    width: 100% !important;
    margin-bottom: 5px !important;
    img {display: none !important;}
}

#sidebar-cat-list {
    height: 500px;
    overflow-y: scroll;
}

.shop-before-control {
    font-size: 14px; 
    border: 1px solid #eee;
    background-color: #fff;
    line-height: 300px;
    font-weight: 400;
    margin-bottom: 25px; 
}

.grid-view-mode {
    float: right; 
    overflow: hidden; 
    * {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #eee; 
        margin: -1px;
    }
    .modes-mode {
        float: left; 
        background-color: transparent; 
        padding: 14px 20px; 
        .button-inner {
            display: block; 
            width: 30px; 
            height: 30px;
            font-size: 10px;
            line-height: 1;
            color: black;
            padding: 7px 7px 6px 6px; 
            margin: auto; 
            span {
                background-color: $theme_yellow; 
                width: 8px;
                height: 8px;
                float: left; 
                display: inline-block; 
                vertical-align: top;
                transition: all 0.2s ease;
            }
            span:nth-child(1) {
                margin-right: 1px;
                margin-bottom: 1px; 
            }

        }
    }
    .modes-mode.active {
        pointer-events: none;
    }
    .modes-mode:not(:last-child) {
        box-shadow: 1px 0 #eee; 
    }
}
