@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC|Poppins:400,500&display=swap");
h2 {
  color: #a51e35;
}

* {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Playfair Display SC", serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
}

.theme-container {
  width: 60%;
  margin: 0 auto;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.col-lg-3 {
  width: 25%;
  float: left;
}

.col-lg-9 {
  width: 75%;
}

.show {
  display: block !important;
}

.slideUp {
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-duration: .25s;
          animation-duration: .25s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@-webkit-keyframes slideUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 1px #eee;
          box-shadow: 0 1px #eee;
}

.header-logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 28px 28px 0px 28px;
  -webkit-box-shadow: -1px 0 #eee inset;
          box-shadow: -1px 0 #eee inset;
}

.header-logo img {
  width: auto;
  height: 80px !important;
}

.header-main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-shadow: -1px 0 #eee;
          box-shadow: -1px 0 #eee;
}

.header-top {
  text-align: right;
  position: relative;
  width: 96%;
  background-color: #a51e35;
  padding: 15px 2% 10px 2%;
}

.header-top * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.header-top a {
  font-size: 0.8em;
  text-decoration: none;
  color: lightgray;
  margin-left: 30px;
}

.header-top a span {
  margin-right: 10px;
}

.header-top .top-bar-menu {
  margin: 0;
}

.header-top .top-bar-menu li {
  margin: 0;
}

.header-top .top-bar-menu li a {
  display: block;
  font-size: 13px;
  line-height: 30px;
  padding: 10px 18px;
  color: #fff;
  font-weight: 400;
}

.header-top .top-bar-menu li a:not(:hover) {
  opacity: 0.5;
}

.header-top .header-right * a {
  display: block;
  font-size: 13px;
  line-height: 30px;
  padding: 10px 18px;
  color: #fff;
  font-weight: 400;
}

.header-top .header-right * a:not(:hover) {
  opacity: 0.5;
}

.header-bot {
  text-align: right;
  font-size: 0;
  line-height: 0;
}

.header-bot * {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
}

.header-bot .box-header-nav {
  text-align: right;
}

.header-bot .box-header-nav .main-menu {
  padding: 0 15px;
  font-size: 0;
  line-height: 0;
}

.header-bot .box-header-nav .main-menu .menu-item {
  font-size: 14px;
  line-height: 30px;
}

.header-bot .box-header-nav .main-menu .menu-item a {
  display: inline-block;
  vertical-align: top;
  padding: 35px 30px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  color: #a51e35;
  text-decoration: none;
}

.header-bot .box-header-nav .main-menu .menu-item .label-image {
  bottom: calc(50% + 5px);
  left: 50%;
}

.header-bot .box-header-nav .main-menu .menu-item:not(:last-child)::after {
  display: inline-block;
  vertical-align: top;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 0.3;
  margin: 47px 0 48px;
  background-color: #a51e35;
}

.block-search .woo-search-link {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  font-size: 30px;
  line-height: 30px;
  padding: 35px 0;
  text-align: center;
  border-left: 1px solid #eee;
  text-decoration: none;
}

.block-search .woo-search-link span {
  color: #a51e35;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin-top: -2px;
}

.sub-menu {
  display: none;
  background: #fff;
  border: 1px solid #eee;
  padding: 20px 15px !important;
  position: absolute;
  margin-left: 0;
  margin-top: -15px;
  z-index: 3;
}

.sub-menu li {
  display: block;
}

.sub-menu li a {
  color: #7b7b7b !important;
  line-height: 1 !important;
  padding: 5px !important;
  text-transform: capitalize !important;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.sub-menu li a:hover {
  color: #a51e35;
}

.sub-menu li::after {
  display: none !important;
}

.mobile-block {
  display: none;
}

@media (min-width: 768px) {
  .header-top .top-bar-menu .sub-menu {
    left: auto;
    right: 0;
  }
}

@media (max-width: 767px) {
  .header-top .block-userlink .sub-menu {
    top: calc(100% + 5px);
  }
}

footer {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0px;
}

footer .backtotop {
  text-decoration: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

footer .backtotop span {
  color: #a51e35;
  padding: 5px;
  border: 1px solid #a51e35;
  background: #fff;
  border-radius: 50%;
}

.woocommerce-store-notice {
  background-color: #a51e35 !important;
}

.product-category {
  display: block !important;
  width: 100% !important;
  margin-bottom: 5px !important;
}

.product-category img {
  display: none !important;
}

#sidebar-cat-list {
  height: 500px;
  overflow-y: scroll;
}

.shop-before-control {
  font-size: 14px;
  border: 1px solid #eee;
  background-color: #fff;
  line-height: 300px;
  font-weight: 400;
  margin-bottom: 25px;
}

.grid-view-mode {
  float: right;
  overflow: hidden;
}

.grid-view-mode * {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #eee;
  margin: -1px;
}

.grid-view-mode .modes-mode {
  float: left;
  background-color: transparent;
  padding: 14px 20px;
}

.grid-view-mode .modes-mode .button-inner {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 10px;
  line-height: 1;
  color: black;
  padding: 7px 7px 6px 6px;
  margin: auto;
}

.grid-view-mode .modes-mode .button-inner span {
  background-color: #c9982b;
  width: 8px;
  height: 8px;
  float: left;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.grid-view-mode .modes-mode .button-inner span:nth-child(1) {
  margin-right: 1px;
  margin-bottom: 1px;
}

.grid-view-mode .modes-mode.active {
  pointer-events: none;
}

.grid-view-mode .modes-mode:not(:last-child) {
  -webkit-box-shadow: 1px 0 #eee;
          box-shadow: 1px 0 #eee;
}

body {
  margin: 0;
}

.sign-up-button a {
  background-color: #a51e35 !important;
  color: #fff !important;
}
/*# sourceMappingURL=master.css.map */